.mn { width:100%; height: 70 px ;background:  rgb(224, 224, 238);
     font-size:  40 px ;}
.opr{ width:100%; background:  rgb(111, 111, 219);
    font-size:  200 px }    
.tuuu{ background:  rgb(194, 194, 233);
    font-size:  200 px }  
.zak{ background:  rgb( 111, 111, 219)}     